
.img-hover:hover {
    transform: translateY(15px);
    opacity: 1;
}

.img-hover:hover:before .img-text{
    opacity: 1;
    transform: translateY(0);
}

.img-hover:hover{
    content: '';
 
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: .9;
}

.img-hover img {
    width: 100%;
    height: auto;
  
    top: 0;
    left: 0;
    object-fit: cover;
}